body{
    background-color: #333333;
    /*color:#00000;*/
    text-align:center;
    color: #e8e8e8;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-size: 1.25em;
  }

  img{
    border-radius: 2%;
  }

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 0px;
  background-color:;
  padding-left: 6em;
  padding-right: 6em;
  padding-bottom: 2em;
  justify-content: space-evenly;
}
/*.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  /*text-align: center;*/
  /*padding: 20px 0;
  font-size: 25px;
}*/

.grid-item
{
  text-align: center;
  padding: .5vw;
}

.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
}

.text {
  opacity: 0;
  color: white;
  font-size: 1.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: .5s ease;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000;
  border-radius: 2%;
}

.container:hover .overlay {
  opacity: .5;
}
.container:hover .text{
  opacity: 1;
}

img {
    max-width: 100%;
    }

    .social-media{
    /*background-color: #595959;*/
      text-align:left;
      padding-top: 0em;
  }



/*============Mobile Section===============*/
@media screen and (max-width: 700px)
{
  .grid-container{
    grid-template-columns: auto auto;
    padding-left: 2em;
    padding-right: 2em;
  }

  a.social-media{
    text-align: center;
  }
}

